// Imports
@import "./bootstrap/bootstrap.scss";
@import url("./particles.css");
@import url("./animations.css");

@font-face {
    font-family: "Stellar";
    src: url(../font/Stellar-light.otf);
    font-weight: 400;
  }

  @font-face {
    font-family: "Stellar";
    src: url(../font/Stellar-Bold.otf);
    font-weight: 900;
  }

  @font-face {
    font-family: "UFO";
    src: url(../font/UFONEST-Regluar.ttf);
  }

// Colour Palette

    $black: #000000;
    $white: #fdfdfd;
    $fresh: #4ABDAC;
    $vermillion: #FC4A1A;
    $sunshine: #F7B733;
    $clean: rgb(221, 222, 223);
    $green: #79AD45;
    $earthy: #41271d;
    $darkness: #111111;
    $magma: #9b2c00;
    $magma-light: #74280a;
    $lightearth: #C49A6C;
    $brightearth: #d27d00;
    $lime: #a49b00;
    $ombre: #d27d00;


// Colour Section Assignment

    $home-colour: $sunshine;
    $about-colour: $fresh;
    $portfolio-colour: $vermillion;
    $work-colour: $green;
    $contact-colour: $sunshine;

    $section-one-colour: $lightearth;
    $section-two-colour: $magma;
    $section-three-colour: $lightearth;
    $section-four-colour: lighten($darkness, 10%);

    $about-text-colour: $earthy;
    $portfolio-text-colour: $white;
    $work-text-colour: $earthy;
    $contact-text-colour: $white;
    $link-text-colour: $magma;
    $link-hover-colour: $earthy;
    
    $workitems-background: $white;
    $workitems-text: $darkness;
    

// Fonts
    $abel: 'Abel', sans-serif;
    $roboto: 'Roboto', sans-serif;
    $custom1: 'Stellar', sans-serif;
    $custom2: 'UFO', sans-serif;

    $inUse: $custom1;

// Font sizing
    $font-basis: 14pt;
    $font-jumbo: 3rem;
    $font-huge: 2rem;
    $font-big: 1.5rem;
    $font-normal: 1rem;
    $font-small: 0.9rem;
    $font-tiny: 0.75rem;


// -----------------------------------------------------------

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $inUse;
    font-size: $font-basis;
    color: $earthy;

    @include media-breakpoint-down(sm) {
        font-size: $font-small;
    }
}

.btn-primary {
    background-color: $darkness;
    color: $white;

    &:hover {
        background-color: lighten($darkness, 20%);
    }

    &.disabled {
        background-color: lighten($darkness, 20%);
    }

    &:focus {
        border-color: $fresh;
        box-shadow: 0 0 0 0.2rem $fresh;
    }
}

.section-title {
    
}

.z0 {
    width: 100%;
    z-index: 0;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    background: $darkness;
}

%section {
    z-index: 2;
    position: relative;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;

    h1 {
        font-family: $inUse;
        font-size: $font-huge;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.4em;
        margin-bottom: 50px;
        margin-top: 20px;
        text-shadow: 1px 1px 0px #efc598;
    }

    @include media-breakpoint-down(md) {
        padding: 50px 0;

        h1 {
            font-size: $font-big;
            margin-bottom: 30px;
        }
    }

    @include media-breakpoint-down(sm) {

        h1 {
            font-size: $font-normal;
            
        }      
    }

}

.row {
    width: 100%;
}

#home {
    @extend %section;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234abdac' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232f776d' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2354b77e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2334714e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2379ad45' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2349672b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a49b00' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23605a06' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d27d00' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23784700' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23fc4a1a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238c290e' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: 500px;
    background-position: right bottom;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    max-height: 1200px;
    padding: 0;
    height: 100vh;
    font-weight: 700;

    #title {
        margin-bottom: 10px;
        margin-top: 50px;
        position: relative;
        text-transform: uppercase;
        flex-grow: 0;
        
        h1 {
            font-size: $font-huge;
            white-space: unset;
            margin-bottom: 5px;
            line-height: 1.5em;
            text-shadow: none;
        }


        @include media-breakpoint-down(md) {

            h1 {
                font-size: $font-big;
            }

        }

        @include media-breakpoint-down(sm) {

            h1 {
                font-size: $font-normal;
            }

        }

        
    }

    #nav-container {
        flex-grow: 1;
        z-index: 1;

        nav {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 150px;
            flex-grow: 1;
            margin-bottom: auto;
        
            a {
                display: flex;
                flex-grow: 1;
                font-family: $inUse;
                font-weight: 400;
                text-transform: uppercase;
                justify-content: center;
                align-self: center;
                letter-spacing: 0.2em;
                text-decoration: none;
                font-size: $font-huge;
    
                @include media-breakpoint-down(md) {
                    font-size: $font-big;
                    margin-top: 40px;
                }
    
                @include media-breakpoint-down(sm) {
                    
                    font-size: $font-normal;
                }
    
             }
        
            :first-child {
                color: $about-colour;
    
                &:hover {
                    color: lighten($about-colour, 30%);
                }
            }
        
            :nth-child(2) {
                color: $portfolio-colour;
    
                &:hover {
                    color: lighten($portfolio-colour, 30%);
                }
            }
        
            :nth-child(3) {
                color: $work-colour;
    
                &:hover {
                    color: lighten($work-colour, 30%);
                }
            }
        
            :nth-child(4) {
                color: $contact-colour;
    
                &:hover {
                    color: lighten($contact-colour, 30%);
                }
            }
        
            :nth-child(5) {
                color: $contact-colour;
    
                &:hover {
                    color: lighten($contact-colour, 30%);
                }
            }
    
            @include media-breakpoint-down(sm) {
                margin-top: 0;
            }
    
            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }
    
        }


    }



 
    #ground {
        position: absolute;
        height: 100vh;
        max-height: 1200px;
        width: 100%;
        background-image: url("../images/ground1.svg");
        background-size: 400px;
        background-attachment: scroll;
        background-repeat: repeat-x;
        background-position: bottom;
        align-content: flex-end;
    
        #explorer {
            position: relative;
            bottom: 25px;
            width: 125px;
            margin: auto auto 0 0;

            @include media-breakpoint-up(sm) { 
                width: 200px;
                bottom: 31px;
            }
            @include media-breakpoint-up(md) { 
                width: 200px;
                bottom: 60px;
            }
             @include media-breakpoint-up(lg) { 
                width: 300px;
                bottom: 57px;
            }
        }

        #alien {
            position: relative;
            bottom: 27px;
            width: 100px;
            margin: auto 0 0 auto;
            transform: rotate(-10deg);
            z-index: -1;

            @include media-breakpoint-up(sm) {
                width: 150px;
                bottom: 33px
            }
            @include media-breakpoint-up(md) { 
                bottom: 45px;
            }
            @include media-breakpoint-up(lg) { 
                width: 175px;
            }
        }

        .content-bottom-right {
            display: flex;
        }

        .content-bottom-left {
            display: flex;
        }

        @include media-breakpoint-up(sm) {
            min-height: 700px;
            background-size: 500px;
        }
        @include media-breakpoint-up(md) {
            min-height: 750px;
            background-size: 900px;
        }
    }
    
    @include media-breakpoint-up(sm) {
        min-height: 700px;
        background-size: 700px;
    }
    @include media-breakpoint-up(md) {
        min-height: 750px;
        background-size: 950px;

        
        
    }
    @include media-breakpoint-up(lg) {
        background-size: 1500px;
    }

}


#about {
    @extend %section;
    bottom: 2px;
    color: $about-text-colour;
    background: $section-one-colour;
    padding-bottom: 120px;

    hr {
        border: 1px solid $earthy;
        opacity: 0.2;
        margin: 25px 0 50px 0;
    }

    #about-container {

        margin-bottom: 30px;

        #display-picture {
            width: 200px;
            border-radius: 4px;
            box-shadow: 4px 4px 0 rgba(0,0,0,0.2);

            @include media-breakpoint-down(md) {
                width: 150px;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    
        #spiel {
            margin-left: 50px;

            @include media-breakpoint-down(md) {
                margin-left: 25px;
            }

            h1 {
                letter-spacing: 0.2em;
                font-weight: bold;
            }
        }

    }

    

    a {
        color: $link-text-colour;
        text-decoration: none;

        &:hover {
            color: $link-hover-colour;
        }
    }


    .skills-widget {
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .skills-container {
            height: 50px;
            margin-top: 10px;
            width: 100%;
            background-color: $earthy;
            border-radius: 4px;
            box-shadow: 4px 4px 0 rgba(0,0,0,0.2);

            .skills {
                position: relative;
                height: 100%;
                text-align: left;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 10px;
                letter-spacing: 0.1em;
                line-height: auto;
                left: -1px;
                border-radius: 4px;
                text-overflow: ellipsis;
                font-weight: bold;
            }

            $lighten-percentage: 10%;
            $darken-percentage: 25%;

            .html {width: 50%; background-color: $sunshine; color: darken($sunshine, 40%); text-shadow: 1px 1px 0 lighten($sunshine, 20%);}
            .css {width: 30%; background-color: $fresh; color: darken($fresh, 35%); text-shadow: 1px 1px 0 lighten($fresh, 20%);}
            .js {width: 30%; background-color: $ombre; color: darken($ombre, 35%); text-shadow: 1px 1px 0 lighten($ombre, 20%);}
            .requirements {width: 70%; background-color: $green; color: darken($green, 35%); text-shadow: 1px 1px 0 lighten($green, 20%);}
            .wireframing {width: 50%; background-color: $magma; color: darken($magma, $darken-percentage); text-shadow: 1px 1px 0 lighten($magma, $lighten-percentage);}
            .design {width: 50%; background-color: $lime; color: darken($lime, $darken-percentage); text-shadow: 1px 1px 0 lighten($lime, $lighten-percentage);}

        }

        @include media-breakpoint-down(md) {
            padding-left: 12%;
            padding-right: 5%;
        }
    
    }
 
}

#portfolio {
    @extend %section;
    background-color: $section-two-colour;
    bottom: 2px;
    color: $portfolio-text-colour;
    box-shadow: 0 8px 0 rgba(0,0,0,0.19) inset, 
                0 -8px 0 rgba(0,0,0,0.19) inset;
   
    h1 {    	
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    margin-bottom: 80px;
    }

    .btn-primary {
        border: none;
    }

    #portfolio-grid {
        display: flex;
        flex-direction: row;

        %card-specs {
            background-size: cover;
            background-position: center;
        }

        .card {
            width: 500px;
            background: none;
            text-align: center;
            color: $white;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            max-height: 500px;
            border: none;

            .image-button {
                position: relative;
                border-radius: 4px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transition: opacity 0.3s ease-in-out;
                    opacity: 1;
                    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
                    border-radius: 0.25rem;
                }

                &:hover::before {
                    opacity: 0;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transition: opacity 0.3s ease-in-out;
                    opacity: 0;
                    box-shadow: 8px 8px 0px rgba(0,0,0,0.2);
                    border-radius: 0.25rem;
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            .card-body {
                flex: none;
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;

                h2 {
                    font-size: $font-big;

                    @include media-breakpoint-down(md) {
                        font-size: $font-normal;
                    }
                }
            }

            .card-img-top {
                border-radius: 4px;
                position: relative;
                max-height: 300px;
            }
        }                
    }
}

#work {
    @extend %section;
    background-color: $section-three-colour;
    bottom: 2px;

    /* Timeline holder */
    ul.timeline {
        list-style-type: none;
        position: relative;
        padding-left: 1.5rem;
        margin-top: 30px;
    }

    /* Timeline vertical line */
    ul.timeline:before {
        content: ' ';
        background: $earthy;
        display: inline-block;
        position: absolute;
        left: 16px;
        width: 4px;
        height: 100%;
        z-index: 400;
        border-radius: 1rem;
    }

    li.timeline-item {
        margin: 20px 0;
        border: 2px solid $earthy;

        .h5 {
            font-weight: 900;
        }

    }

    /* Timeline item arrow */
    .timeline-arrow {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid $earthy;
        border-bottom: 0.5rem solid transparent;
        display: block;
        position: absolute;
        left: 2rem;
    }

    /* Timeline item circle marker */
    li.timeline-item::before {
        content: ' ';
        background: $earthy;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid $earthy;
        left: 11px;
        width: 14px;
        height: 14px;
        z-index: 400;
    }
}

#contact {
    @extend %section;
    background-color: $section-four-colour;
    bottom: 2px;
    color: $contact-text-colour;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19) inset, 0 6px 6px rgba(0,0,0,0.23) inset, 0 -10px 20px rgba(0,0,0,0.19) inset, 0 -6px 6px rgba(0,0,0,0.23) inset;

    h1 {
        text-shadow: none;
    }

    form {
        margin-top: 50px;
    }

    .textarea .form-control {
        height: 100px;
    }

    a {
        text-decoration: none;
        color: $fresh;
        font-weight: 900;

        &:hover {
            color: lighten($fresh, 20%);
        }
    }

    hr {
        border: 1px solid $sunshine;
        opacity: 1;
        margin: 50px 0;
    }
 

}