// Imports
@import url("./bootstrap.min.css");
@import url("./particles.css");
@import url("./animations.css");

// Colour Palette

    $black: #000000;
    $white: #ffffff;

    $fresh: #4ABDAC;
    $vermillion: #FC4A1A;
    $sunshine: #F7B733;
    $clean: #DFDCE3;
    $green: #79AD45;
    $earthy: #784700;


// Colour Section Assignment (allows you to easily change colour theming above and reassign below rather than hunting through the entire CSS)

    $home-colour: $sunshine;
    $about-colour: $fresh;
    $portfolio-colour: $vermillion;
    $work-colour: $green;
    $contact-colour: $sunshine;

    $section-one-colour: #C49A6C;
    $section-two-colour: darken($section-one-colour, 10%);
    $section-three-colour: darken($section-two-colour, 10%);
    $section-four-colour: darken($section-three-colour, 10%);
    $section-five-colour: darken($section-four-colour, 10%);
    

// Fonts
    $abel: 'Abel', sans-serif;
    $roboto: 'Roboto', sans-serif;

// Font sizing
    $font-basis: 14pt; // This will calculate all font sizes from here on, so increase this if you want everything bigger!
    $font-jumbo: 3rem;
    $font-huge: 2rem;
    $font-big: 1.5rem;
    $font-normal: 1rem;
    $font-small: 0.75rem;
    $font-tiny: 0.5rem;

// -----------------------------------------------------------

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $abel;
    font-size: $font-basis;
}

.z0 {
    width: 100%;
    z-index: 0;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    background: #111111;
}

.row {
    width: 100%;
}


%section {
    z-index: 2;
    position: relative;
    display: flex;
    height: 1080px;
    width: 100%;
    top: -1px;
}

#home {
    @extend %section;
    flex-direction: column;
    height: 980px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234abdac' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232f776d' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2354b77e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2334714e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2379ad45' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2349672b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a49b00' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23605a06' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d27d00' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23784700' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23fc4a1a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238c290e' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: 1500px;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
    text-align: center;

    #title {
        margin: 50px 0;
        position: relative;
        height: 100px;
        text-transform: uppercase;
    }

    nav {
        position: relative;
        display: flex;
        height: 150px;
        flex-grow: 1;
        margin: 0 10%;
    
        a {
        display: flex;
        flex-grow: 1;
        font-family: $abel;
        font-weight: 900;
        font-size: $font-huge; 
        text-transform: uppercase;
        justify-content: center;
        align-self: center;
        letter-spacing: 0.2em;
        }
    
        :first-child {
            color: $about-colour;
        }
    
        :nth-child(2) {
            color: $portfolio-colour;
        }
    
        :nth-child(3) {
            color: $work-colour;
        }
    
        :nth-child(4) {
            color: $contact-colour;
        }
    
        :nth-child(5) {
            color: $contact-colour;
        }
    
    }

 
    #ground {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../images/ground1.png");
        background-size: 900px;
        background-attachment: scroll;
        background-repeat: repeat-x;
        background-position: bottom;
    
        #explorer {
            position: absolute;
            bottom: 57px;
            left: 40%;
            width: 300px;
        }

        #alien {
            position: absolute;
            bottom: 57px;
            left: 20%;
            width: 100px;
        }
    
    }
    
}


#about {
    @extend %section;
    background-color: $section-one-colour;
}

#portfolio {
    @extend %section;
    background-color: $section-two-colour;
}

#work {
    @extend %section;
    background-color: $section-three-colour;
}

#contact {
    @extend %section;
    background-color: $section-four-colour;
}