@import url("./bootstrap.min.css");
@import url("./particles.css");
@import url("./animations.css");
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Abel", sans-serif;
  font-size: 14pt;
}

.z0 {
  width: 100%;
  z-index: 0;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  background: #111111;
}

.row {
  width: 100%;
}

#home, #about, #portfolio, #work, #contact {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1080px;
  width: 100%;
}

#home {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 980px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234abdac' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232f776d' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2354b77e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2334714e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2379ad45' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2349672b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a49b00' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23605a06' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d27d00' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23784700' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23fc4a1a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238c290e' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: scroll;
  background-size: 1500px;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

#home #title {
  margin: 50px 0;
  position: relative;
  height: 100px;
  text-transform: uppercase;
}

#home nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 10%;
}

#home nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Abel", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  letter-spacing: 0.2em;
}

#home nav :first-child {
  color: #4ABDAC;
}

#home nav :nth-child(2) {
  color: #FC4A1A;
}

#home nav :nth-child(3) {
  color: #79AD45;
}

#home nav :nth-child(4) {
  color: #F7B733;
}

#home nav :nth-child(5) {
  color: #F7B733;
}

#home #ground {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/ground1.svg");
  background-size: 900px;
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-position: bottom;
}

#home #ground #explorer {
  position: absolute;
  bottom: 57px;
  left: 40%;
  width: 300px;
}

#home #ground #alien {
  position: absolute;
  bottom: 57px;
  left: 20%;
  width: 100px;
}

#about {
  background-color: #C49A6C;
  bottom: 2px;
}

#portfolio {
  background-color: #b58148;
  bottom: 2px;
}

#work {
  background-color: #90673a;
  bottom: 2px;
}

#contact {
  background-color: #6c4d2b;
  bottom: 2px;
}
/*# sourceMappingURL=style.css.map */