// Imports
@import "./bootstrap/bootstrap.scss";
@import url("./particles.css");
@import url("./animations.css");

// Colour Palette

    $black: #000000;
    $white: #fdfdfd;
    $fresh: #4ABDAC;
    $vermillion: #FC4A1A;
    $sunshine: #F7B733;
    $clean: rgb(221, 222, 223);
    $green: #79AD45;
    $earthy: #784700;
    $darkness: #111111;
    $magma: #a84026 ;
    $lightearth: #C49A6C;


// Colour Section Assignment (allows you to easily change colour theming above and reassign below rather than hunting through the entire CSS)

    $home-colour: $sunshine;
    $about-colour: $fresh;
    $portfolio-colour: $vermillion;
    $work-colour: $green;
    $contact-colour: $sunshine;

    $section-one-colour: $lightearth;
    $section-two-colour: darken($lightearth, 10%);
    $section-three-colour: $lightearth;
    $section-four-colour: darken($lightearth, 10%);

    $about-text-colour: $darkness;
    $portfolio-text-colour: $darkness;
    $work-text-colour: $darkness;
    $contact-text-colour: $darkness;
    
    

// Fonts
    $abel: 'Abel', sans-serif;
    $roboto: 'Roboto', sans-serif;

// Font sizing
    $font-basis: 14pt; // This will calculate all font sizes from here on, so increase this if you want everything bigger!
    $font-jumbo: 3rem;
    $font-huge: 2rem;
    $font-big: 1.5rem;
    $font-normal: 1rem;
    $font-small: 0.75rem;
    $font-tiny: 0.5rem;


// -----------------------------------------------------------

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $abel;
    font-size: $font-basis;
    color: $darkness;
}

.z0 {
    width: 100%;
    z-index: 0;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    background: $darkness;
}

%section {
    z-index: 2;
    position: relative;
    display: flex;
    width: 100%;
    margin: auto 0;
    padding-top: 10vh;
    padding-bottom: 15vh;

    h1 {
        font-size: $font-huge;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-bottom: 50px;
        margin-top: 20px;
    }

}

.row {
    flex-grow: 1;
}

#home {
    @extend %section;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234abdac' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232f776d' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2354b77e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2334714e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2379ad45' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2349672b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a49b00' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23605a06' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d27d00' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23784700' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23fc4a1a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238c290e' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: 500px;
    background-position: right bottom;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    min-height: 611px;
    max-height: 1200px;
    padding-top: 0;
    height: 100vh;


    #title {
        margin: 50px 0;
        position: relative;
        height: 100px;
        text-transform: uppercase;
        flex-grow: 0;
        
        h1 {
            font-size: $font-big;
            white-space: unset;
        }

        h2 {
            font-size: $font-normal;
        }

        @include media-breakpoint-up(sm) { 

            h1 {
                font-size: $font-huge;
                white-space: nowrap;
            }
    
            h2 {
                font-size: $font-big;
            }

        }
        
    }

    #nav-container {
        flex-grow: 1;
        z-index: 1;
    }

    nav {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 150px;
        flex-grow: 1;
        margin-bottom: auto;
    
        a {
            display: flex;
            flex-grow: 1;
            font-family: $abel;
            font-weight: 900;
            font-size: $font-big; 
            text-transform: uppercase;
            justify-content: center;
            align-self: center;
            letter-spacing: 0.2em;
            margin-top: 20px;
            text-decoration: none;

            @include media-breakpoint-up(md) {
                font-size: $font-huge;
                margin-top: 40px;
            }

        }
    
        :first-child {
            color: $about-colour;

            &:hover {
                color: lighten($about-colour, 30%);
            }
        }
    
        :nth-child(2) {
            color: $portfolio-colour;

            &:hover {
                color: lighten($portfolio-colour, 30%);
            }
        }
    
        :nth-child(3) {
            color: $work-colour;

            &:hover {
                color: lighten($work-colour, 30%);
            }
        }
    
        :nth-child(4) {
            color: $contact-colour;

            &:hover {
                color: lighten($contact-colour, 30%);
            }
        }
    
        :nth-child(5) {
            color: $contact-colour;

            &:hover {
                color: lighten($contact-colour, 30%);
            }
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            margin: 0 10%;
        }

    }

 
    #ground {
        position: absolute;
        height: 100vh;
        min-height: 611px;
        max-height: 1200px;
        width: 100%;
        background-image: url("../images/ground1.svg");
        background-size: 400px;
        background-attachment: scroll;
        background-repeat: repeat-x;
        background-position: bottom;
        align-content: flex-end;
    
        #explorer {
            position: relative;
            bottom: 25px;
            width: 125px;
            margin: auto auto 0 0;

            @include media-breakpoint-up(sm) { 
                width: 200px;
                bottom: 31px;
            }
            @include media-breakpoint-up(md) { 
                width: 200px;
                bottom: 60px;
            }
             @include media-breakpoint-up(lg) { 
                width: 300px;
                bottom: 57px;
            }
        }

        #alien {
            position: relative;
            bottom: 27px;
            width: 100px;
            margin: auto 0 0 auto;
            transform: rotate(-10deg);
            z-index: -1;

            @include media-breakpoint-up(sm) {
                width: 150px;
                bottom: 33px
             }
            @include media-breakpoint-up(md) { 
                bottom: 45px;
             }
             @include media-breakpoint-up(lg) { 
                width: 175px;
             }
        }

        .content-bottom-right {
            display: flex;
        }

        .content-bottom-left {
            display: flex;
        }

        @include media-breakpoint-up(sm) {
            min-height: 700px;
            background-size: 500px;
        }
        @include media-breakpoint-up(md) {
            min-height: 887px;
            background-size: 900px;
        }
    }
    
    @include media-breakpoint-up(sm) {
        min-height: 700px;
        background-size: 700px;
    }
    @include media-breakpoint-up(md) {
        min-height: 887px;
        background-size: 1000px;
        
    }
    @include media-breakpoint-up(lg) {
        background-size: 1500px;
    }

}


#about {
    @extend %section;
    background-color: $section-one-colour;
    bottom: 2px;
    color: $about-text-colour;

    .skills-widget {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        

        .skills-container {
            height: 50px;
            margin-top: 10px;
            width: 100%;
            background-color: $darkness;

            .skills {
                height: 100%;
                text-align: left;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 10px;
                color: $white; 
                letter-spacing: 0.2em;
                
            }

            .html {width: 70%; background-color: $sunshine;}
            .css {width: 60%; background-color: $fresh}
            .js {width: 40%; background-color: $vermillion}
            .requirements {width: 70%; background-color: $green}
            .wireframing {width: 60%; background-color: $earthy}
            .design {width: 30%; background-color: $sunshine}
            .php {width: 0px; background-color: $darkness}
            .angular {width: 0px; background-color: $darkness}
            .react {width: 0px; background-color: $darkness}
            .vue {width: 0px; background-color: $darkness}

        }
    
    }
 
}

#portfolio {
    @extend %section;
    background-color: $section-two-colour;
    bottom: 2px;
    color: $portfolio-text-colour;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) inset, 0 3px 6px rgba(0,0,0,0.23) inset, 0 -3px 6px rgba(0,0,0,0.16) inset, 0 -3px 6px rgba(0,0,0,0.23) inset;

    #portfolio-grid {
        display: flex;
        flex-direction: row;

        %card-specs {
            background-size: cover;
            background-position: center;
        }

        .card {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            background-color: $white;
            border: 2px solid $sunshine;
            text-align: center;
            height: 100%;

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;

                .btn-primary {
                    background-color: $fresh;
                    border-color: $fresh;
                }
            }

            img {
                height: 165px;
                border-bottom: 2px solid $sunshine;
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                transition: opacity 0.3s ease-in-out;
                opacity: 0;
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                border-radius: 0.25rem;
            }
    
            &:hover:after {
                opacity: 1;
            }

            &.blank {
                display: none;

                h2 {
                    margin: auto auto;
                }
            }
        }
    }
}

#work {
    @extend %section;
    background-color: $section-three-colour;
    bottom: 2px;
    color: $work-text-colour;

    /* Timeline holder */
    ul.timeline {
        list-style-type: none;
        position: relative;
        padding-left: 1.5rem;
        margin-top: 30px;
    }

    /* Timeline vertical line */
    ul.timeline:before {
        content: ' ';
        background: $darkness;
        display: inline-block;
        position: absolute;
        left: 16px;
        width: 4px;
        height: 100%;
        z-index: 400;
        border-radius: 1rem;
    }

    li.timeline-item {
        margin: 20px 0;
        background-color: $white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border: 2px solid $sunshine;

        .h5 {
            font-weight: 900;
        }

    }

    /* Timeline item arrow */
    .timeline-arrow {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid $sunshine;
        border-bottom: 0.5rem solid transparent;
        display: block;
        position: absolute;
        left: 2rem;
    }

    /* Timeline item circle marker */
    li.timeline-item::before {
        content: ' ';
        background: $darkness;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid $darkness;
        left: 11px;
        width: 14px;
        height: 14px;
        z-index: 400;
    }
}

#contact {
    @extend %section;
    background-color: $section-four-colour;
    bottom: 2px;
    color: $contact-text-colour;
}